<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gong Gi Bap</title>
    <link rel="icon" href="./images/rice.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/main.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>공기밥</title>
</head>
<body>
<!-- HEADER -->
<header>

    <div class="inner">
        <a href="/main" class="logo">
            <span>공기밥</span>
        </a>

        <div class="sub-menu">
            <ul class="menu">
                <li>
                    <a href="/main">밥집 찾기</a>
                </li>
                <li>
                    <a href="/about">공기밥이란</a>
                </li>
                <li>
                    <a href="javascript:void(0)">문의하기</a>
                </li>
            </ul>

        </div>
    </div>
</header>

    <div class="contents">
        <div class="img_box">
            <img class="img_info" src="images/info.jpg" alt="비빔밥"
        </div>
        <!-- 인포 정보 -->
        <div id="infoArea">
            <p style="font-size: 20px;">공기밥은</p><br>
            <p>공공 기관 밥집의 줄임말로 우리 주변에 위치한 시청, 구청, 주민센터(동사무소) 등의 <br>
                업무추진비를 바탕으로 지역의 음식점을 안내해드리는 서비스를 제공하고 있습니다.</p><br>
            <p>인력부족으로 서울 지역과 약 22년도 1월부터 22년도 2월 기간 정보를 바탕으로<br>
                서비스를 제공해드리는 점 이해부탁드리겠습니다.</p>
        </div>
    </div>





</body>
</html>