
a:link {
  color: black; text-decoration: none;
}

a:visited{
  color: black; text-decoration: none;
}

a:hover:not(.selectDes, .logo){
  color : dodgerblue;
}

.img_box {

}

.img_info {
  position: relative;
  left: 17%;

  width: 1040px;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}

#infoArea {
  position: absolute;
  width: 800px;
  height: 300px;
  background-color: white;
  left: 43%;
  margin-top: 30px;
  margin-left: -400px;
  text-align: left;

}

body {

  font-family: 'Nanum Gothic', sans-serif;

  /*font-family: 'Noto Sans KR', sans-serif;*/
  
}

.contents {
  line-height: 200%;
}

header {

}

header .inner {
  width: 1100px;
  height: 100px;
  margin: 0 auto;

  position: relative;
}

header .inner .logo {

  position: absolute;
  height: 50px;
  width: 130px;
  font-size: 45px;
  display: block;
  top: 30px;
  bottom: 0;
  left: 50px;
  margin: auto 0;

}


header .sub-menu {
  font-family: 'Noto Sans KR', sans-serif;
}

header .sub-menu ul.menu {
  display: flex;
  position: absolute;
  left: 800px;
  bottom: 16px;
}

header .sub-menu ul.menu li {

}


header .sub-menu ul.menu li a {

  font-size: 18px;
  padding: 11px 11px;
  display: block;
}

header .sub-menu ul.menu li a:hover {
  color: #2E75B6;
}


/* 지역 조회 부분 */

body .search {

  position: relative;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search .specify_address {
  position: relative;
}

.search .pl {
  position: relative;
  width: 200px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
}

.search .pl:focus {
  border: 1px solid #9B51E0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid #F8e4FF;
  border-radius: 10px;
}

.search .address {
  color: #000;
  position: relative;
  font-weight: 900;
  font-size: 20px;
  margin-top: 15px;
}

.search .btn-search {
  margin-left: 20px;
  width:120px;
  height: 40px;
  color:#000;
  border: 2px solid #D3D3D3;
  font-size: 15px;
  font-weight: 550;
  border-radius: 8px;
  transition:0.3s;
  left:50%;
  top:50%;
  margin-top: 5px;
}

.btn-search:focus {
  outline:0;
}
.btn-search:hover{
  border: none;
  background-color: #D3D3D3;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(44, 44, 44, 0.6);
}

/* 메인 테이블 및 테이블 정렬 옵션 부분 */
/* 테이블 상단 */

.select-option {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #808080;

}


.select-option #descendingIcon {
  position: relative;
  top: 6px;
}

.select-option .selectDes{
  cursor: pointer;
}

.selectDes:hover>#descendingIcon{
  color: dodgerblue;

}

.selectList {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

/* 테이블 내용 및 테이블 css */

#mainTable {
  width: 1000px;
  border-top: 1px solid #c4c4c4;
  border-collapse: collapse;
}




td, th {
  padding: 12px;
  border-bottom: 1px solid #c4c4c4;
}

#placeSubcity {
  font-size: 11px;
  text-align: center;
}

#visitCount, #placeInfo{
  text-align: center;
}

#placeName {
  cursor: pointer;
}

.btn-info {
  border-radius: 4px;
  border: 2px solid #D3D3D3;
}

.btn-info:hover {
  cursor: pointer;
  background-color: #D3D3D3;
}

  /* 누르면 페이지 상단으로 이동하는 css */
#moveTop {
  position: fixed;
  right: 4%;
  bottom: 50px;
  display: none;
  z-index: 999;
}

.material-symbols-outlined.keyboard {
  font-size: 40px;
  color: #c4c4c4;
  border: 1px solid #D3D3D3;
  border-radius: 50px;
  transition: 0.3s;
}

.material-symbols-outlined.keyboard:hover {
  background-color: grey;
}

/*placeInfo css*/

#subTable {

  border-collapse: collapse;
  border-top: 3px solid #808080;

}

#subTable td {
  text-align: center;
}

#subTableHeader {
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
