@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



a:link {
  color: black; text-decoration: none;
}

a:visited{
  color: black; text-decoration: none;
}

a:hover:not(.selectDes, .logo){
  color : dodgerblue;
}

.img_box {
  width: 100%;
  height: 300px;
  text-align: center;
}



.img_info {
  
  position: relative;
  width: 1040px;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}

#infoArea {
  
  margin: 50px auto;
  width: 1000px;
  height: 300px;
  background-color: white;
  
  

}

body {

  font-family: 'Pretendard-Regular', 'Nanum Gothic', sans-serif;

  /*font-family: 'Noto Sans KR', sans-serif;*/
  
}

.contents {
  line-height: 200%;
  width: 100%;
}

header {

}

header .inner {
  width: 1100px;
  height: 100px;
  margin: 0 auto;

  position: relative;
}

header .inner .logo .img_logo {

  /* position: absolute;
  height: 50px;
  width: 130px;
  font-size: 45px;
  display: block;
  top: 30px;
  bottom: 0;
  left: 50px;
  margin: auto 0; */

  position: absolute;
  display: block;
  object-fit: contain;
  width: 150px;
  height: 60px;
  bottom: 10%;
  left: 3%;



}



header .sub-menu {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

header .sub-menu ul.menu {
  display: flex;
  position: absolute;
  left: 800px;
  bottom: 16px;
}

header .sub-menu ul.menu li {

}


header .sub-menu ul.menu li a {

  font-size: 18px;
  padding: 11px 11px;
  display: block;
}

header .sub-menu ul.menu li a:hover {
  color: #359CEF;
}


/* 지역 조회 부분 */
#bottom_back_ground {
  background-color: #F4F7F9;
}

hr {
  border: 1px solid #DBDDE0;
}

body .search {

  position: relative;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.search .specify_address {
  position: relative;
}

.search .pl {
  position: relative;
  width: 200px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  font-family: 'Pretendard-Regular', 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
}

.search .pl:focus {
  border: 1px solid #9B51E0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid #F8e4FF;
  border-radius: 10px;
}

.search .img_marker {
  margin-top: 8px;
  height: 35px;
}

.search .address {
  color: #000;
  position: relative;
  width: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  margin-top: 15px;
}

.search .btn-search {
  margin-left: 20px;
  width: 160px;
  height: 40px;
  color: #359CEF;
  background-color: #fff;
  border: 3px solid #359CEF;
  font-size: 15px;
  font-weight: 550;
  border-radius: 44px;
  transition:0.3s;
  left:50%;
  top:50%;
  margin-top: 5px;
}

.btn-search:focus {
  outline:0;
}
.btn-search:hover{
  border: 3px solid #359CEF;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(44, 44, 44, 0.6);
}

/* 메인 테이블 및 테이블 정렬 옵션 부분 */
/* 테이블 상단 */

.select-option {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #808080;

}


.select-option #descendingIcon {
  position: relative;
  top: 6px;
}

.select-option .selectDes{
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 560;
  font-size: 15px;
  line-height: 18px;
  color: #8D8D8D;

}

.selectDes:hover>#descendingIcon{
  color: dodgerblue;

}

.selectList {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

/* 테이블 내용 및 테이블 css */

#mainTable, #resultTable {
  width: 1000px;
  border-top: 1px solid #c4c4c4;
  border: solid 1px black;
  border-collapse: separate;
}

td, th {
  padding: 12px;
  border: solid 1px black;
  border-bottom: 1px solid #c4c4c4;
}

th {
  background-color: #F4F7F9;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 560;
  font-size: 15px;
  color: #8D8D8D;
}

#resultTable td {
  background-color: #fff;
}

#resultTable #placeSubcity {
  width: 17%;
}

/* 작업중~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 수치만 조정해주면 된다~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#resultTable  { 
  width: 100%;
}

#placeSubcity, #resultTable  {
  font-size: 11px;
  text-align: center;
}

#visitCount, #placeInfo{
  text-align: center;
}

#placeName {
  cursor: pointer;
}

.btn-info {
  margin-left: 14px;
  width: 80px;
  border-radius: 44px;
  border: 2px solid #DBDDE0;

  color: #8D8D8D;;
  background-color: #fff;

  transition:0.3s;
}

.btn-info:hover {
  border: 2px solid #DBDDE0;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(44, 44, 44, 0.6);
}

/* ----------------------------------------------------------------------- */

div.placeListTable {
  width: 100%;
}

div.minimalistBlack {
  font-family: 'Pretendard';
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
  
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  /* border: 1.5px solid black; */
  padding: 15px 4px;
}

.divTable.minimalistBlack .divTableHeading {
  
  border-top: 1.5px solid #DBDDE0;
  border-bottom: 1.5px solid #DBDDE0;
  
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-style: normal;
  font-weight: 560;
  font-size: 15px;
  color: #8D8D8D;

}

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}


#roundBody {
  margin: 0 auto;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 0px #0000000F;
  border-radius: 18px;
  height: 50px;
  width: 1000px;

  display: flex;
  align-items: center;
  text-align: center;
  font-family: Pretendard;

  margin-top: 20px;
  border-radius: 15px;

  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

div#roundBody > div#placeSubcity {
  width: 15.9%;
  /* background-color: burlywood; */

}

div#roundBody > div#col2 {
  width: 28.03%;
  /* background-color: orchid; */

  font-weight: 600;

}

div#roundBody > div#visitCount {
  width: 28.03%;
  /* background-color: gray; */

}

div#roundBody > div#placeInfo {
  width: 27.03%;
  /* background-color: ivory; */
}


/* ------------------------------------------------------------------------ */


  /* 누르면 페이지 상단으로 이동하는 css */
#moveTop {
  position: fixed;
  right: 4%;
  bottom: 50px;
  display: none;
  z-index: 999;
}

.material-symbols-outlined.keyboard {
  font-size: 40px;
  color: #c4c4c4;
  border: 1px solid #D3D3D3;
  border-radius: 50px;
  transition: 0.3s;
}

.material-symbols-outlined.keyboard:hover {
  background-color: grey;
}

/*placeInfo css 상세보기 테이블 설정*/

#subTable {

  border-collapse: collapse;
  border-top: 3px solid #808080;

}

#subTable td {
  text-align: center;
}

#subTableHeader {
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
